.site-header {
	background: #fff;
	transition: all 0.4s ease;
}

.site-branding {
	border-bottom: 2px solid #000;

	p {
		text-align: center;
		font-family: $font-bold-headline;
		font-size: 10px;
		margin-bottom: 0px;
	}
}

.site-header-inner img {
	display: block;
	margin: auto;
}

/*
nav style*/

.navbar.center  {
    text-align: center;

    .nav {
	    display:inline-block;
	    float: none;
	    width: 100%;
	    height: 100%;

	    // a {
	    // 	background: transparent;
	    // }
	}
}

.navbar-nav {
	> li > a  {
		color: #000;
	}

	> li.active > a {
		color: $link-color;
	}
}

.navbar {
	border: none;
	margin-bottom: -5px;
}

#menu-collapse, .nav>li>a {
	font-family: $font-headline;
	text-transform: uppercase;
}

#menu-collapse {
	font-size: 20px;
}

.sticky {
	position: fixed;
	width: 100%;
	z-index: 99999;
	background: $sticky-color;
}