@media screen and (min-width: 550px) {
	#about {
		p {
			width: 70%;
			margin: auto;
			padding-bottom: 20px;
		}
	}

}

@media screen and (min-width: 768px) {
	div.site-branding p {
		font-size: 14px;
	}

	.navbar-nav  > li > a {
		color: #000;
    	background: transparent;
    	padding: 10px 22px;
    	font-size: 20px;
	}

	.navbar.center .nav {
	    width: inherit;
	}

	.main-content {
		background: url('../images/body-background.png') no-repeat center top;
	}

	.mail-header h2,
	.mail-header p   {
		display: inline;
	}

}

@media screen and (min-width: 990px) {
	div.site-branding p {
		font-size: 25px;
	}
}